<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'developersearch:index' %}">Developer Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'developersearch:unused.languages' %}">Unused Languages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="admin">Admin</a>
        </li>
    </ul>
</nav>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="header-right">
                    <form action="" class="search nav-form">
                        <div class="row">
                            <div class="col-sm-6">

                                <div class="input-group input-search">
                                    <input type="search" class="form-control" name="srchlang"
                                           value="{{request.GET.srchlang}}"
                                           placeholder="Search language...">
                                    <!--<span class="input-group-btn">-->
                                    <!--<button class="btn btn-default" type="submit">Search</button>-->
                                    <!--</span>-->
                                </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="input-group input-search">
                                    <input type="search" class="form-control" name="srchproglang"
                                           value="{{request.GET.srchproglang}}"
                                           placeholder="Search  programming language...">
                                    <span class="input-group-btn">
								<button class="btn btn-default" type="submit">Search</button>
							</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Language</th>
        <th scope="col">Programming Language</th>
    </tr>
    </thead>
    <tbody>
    {% for dev in developer_list %}
    <tr>
        <th scope="row">{{dev.id}}</th>
        <td>{{dev.email}}</td>
        <td>
            {% for language in dev.languages.all %}
            {{language}},
            {% endfor %}
        </td>
        <td>{% for programming_language in dev.programming_languages.all %}
            {{programming_language}},
            {% endfor %}
        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>